  
  html, body, .sidebar, .main-area { height: 100%;}

  html { overflow-y: hidden; }

  body { background-color: #F7F7F6; }

  img { vertical-align: middle; }

  a:hover, a:active, a:focus { outline: 0; }

/* =============================================================================
   Forms
   ========================================================================== */

   form { margin: 0; }

   fieldset {
      border: 1px solid #ddd;
      margin-bottom: 20px;
      padding: 20px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
   }

   fieldset legend            { padding: 0 20px; font-size: 16px; width: auto; border: none; margin: 0;}

   label                      { margin-right: 10px; }
   label, input[type="text"]  { height: 20px; line-height: 20px; }
   textarea                   { margin-bottom: 20px; resize: vertical; cursor: text !important; }

/* =============================================================================
   Navigation
   ========================================================================== */

   .navbar        { line-height: 40px; margin:0;}
   .navbar-inner  { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; padding: 0; }
   .navbar-search { margin-top: 0; }

   .settings .icon { padding-top: 8px; padding-bottom: 8px; }

   .settings .dropdown-toggle:after { display: none; }
   .settings .dropdown-menu         { right: 0; }
   .settings .logout                { padding-right: 0; }

/* =============================================================================
   Sidebar
   ========================================================================== */

   .sidebar {
/*      width: 200px;*/
      background: #eee;
      float: left;
      border-right: 1px solid #ddd;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
   }
   .sidebar ul          { margin: 0; list-style: none;}
   .sidebar ul li       { border-top: 1px solid #f5f5f5; border-bottom: 1px solid #ddd; padding: 10px 20px; }
   .sidebar ul li:hover { background: #ccc; border-top: 1px solid #ddd; border-bottom: 1px solid #f5f5f5;}
   .sidebar ul li a     { color: #404040; font-weight: bold;}
/*   .sidebar ul li img   { margin-right: 20px; }*/

/* =============================================================================
   Content
   ========================================================================== */

   .main-area { max-width: 100%; position: relative; overflow-x: hidden; overflow-y: auto; }

   .main-area .headerbar {
      background: rgb(255,255,255); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
      background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
      border-bottom: 1px solid #ddd;
      height: 29px;
      padding: 8px 20px;
   }
   .main-area .headerbar h1 {
      font-size: 14px;
      line-height: 29px;
      margin: 0;
      float: left;
   }

   .main-area .content { padding: 20px 20px 94px; } 



/* =============================================================================
   Tables
   ========================================================================== */

   .table { margin: 0 0 40px; }
   
   .table.no-margin { margin: 0 0 0 0;}
   
   .table td  { vertical-align: middle; }

   table th:first-child,
   table td:first-child { padding-left: 20px; }

/* =============================================================================
   Bottom Bar
   ========================================================================== */

/* =============================================================================
   Tabs
   ========================================================================== */

   .tabbable .table { margin-bottom: 20px; }

   .tabs-below .nav-tabs {
      margin: 0;
      border: 0;
      list-style: none;
      background-color: #191919;
      background-repeat: repeat-x;
      background-image: -khtml-gradient(linear, left top, left bottom, from(#292929), to(#191919));
      background-image: -moz-linear-gradient(top, #292929, #191919);
      background-image: -ms-linear-gradient(top, #292929, #191919);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #191919));
      background-image: -webkit-linear-gradient(top, #292929, #191919);
      background-image: -o-linear-gradient(top, #292929, #191919);
      background-image: linear-gradient(top, #292929, #191919);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#191919', GradientType=0);
      color: #ffffff;
      position: fixed;
      bottom: 0;
      width: 100%;
   }
   .tabs-below .nav-tabs > li { margin-top: 0; }
   .tabs-below .nav-tabs > li > a {
      border: transparent;
      font-weight: bold;
      color: #bfbfbf;
      margin-right: 0;
      padding: 10px 20px 11px;
      border-right: 1px solid #444;
      border-left: 1px solid #0a0a0a;
      display: block;
      line-height: 19px;
   }

   .tabs-below .nav-tabs > li > a:hover,
   .tabs-below .nav-tabs .active > a,
   .tabs-below .nav-tabs .active > a:hover {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: #444;
      color: #fff;
      text-decoration: none;
      border: none;
      border-right: 1px solid #444 !important;
      border-left: 1px solid #0a0a0a !important;
   }

   .tabs-below .nav-tabs > li:first-child > a, 
   .tabs-below .nav-tabs > li:first-child > a:hover {border-left: none !important; }
   .tabs-below .nav-tabs > li:last-child > a, 
   .tabs-below .nav-tabs > li:last-child > a:hover {border-right: 1px solid #0a0a0a !important;}


   .tab-content { padding-bottom: 74px; }


/* =============================================================================
   Options
   ========================================================================== */

   .options { margin: 0; }

/* =============================================================================
   Profiles
   ========================================================================== */

   .profile {
      background: #f9f9f9;
      border: 1px solid #ddd;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      -khtml-border-radius: 5px;
      margin-bottom: 20px;
   }

   .profile .primaryInfo {
      padding: 20px 46px 0;
   }

   .profile dl { clear: both; margin-top: 40px;}

   .profile dl dt  {   
      margin: 40px 0 20px;
      border-top: 1px solid #ddd;
      line-height: 0;
   }

   .profile dl dt span {
      background: #fff;
      border: 1px solid #ddd;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      -khtml-border-radius: 5px;
      padding: 2px 25px;
      margin-left: 20px;
   }

   .profile dl dd {
      clear: both;
      line-height: 20px;
      padding-top: 6px;
      margin: 0;
   }

   .profile dl dd span {
       font-weight: bold;
       float: left;
       text-align: right;
       width: 70px;
       margin-right: 10px;
   }

   .notes textarea {
      resize: both;
      width: 100%;
   }

/* =============================================================================
   Invoice
   ========================================================================== */

   .invoice .items { margin-top: 40px; }

   .invoice .total td:first-child,
   .invoice .total:hover td:first-child { background: none !important; }

   .invoice .total td:last-child { border-left: none; }

   .subtotal, .tax, .total, th.align-right, td.align-right { text-align: right; }
   .tax { background: none; }

   /* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

   /* Contain floats: h5bp.com/q */ 
   .cf:before, .cf:after { content: ""; display: table; }
   .cf:after { clear: both; }
   .cf { zoom: 1; }

   .no-padding { padding: 0; }
   
   
/* =============================================================================
   Random
   ========================================================================== */
.index-options { margin-top: -3px; margin-bottom: 0px; }

.headerbar .pull-right { margin-left: 15px; }

.alert { border-radius: 0px 0px 0px 0px; }

/* Dashboard */

.widget {
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
}

.padded {
	padding: 15px;
}

.widget-title {
    padding: 8px 20px;
}

.widget .content-padding {
    padding: 90px;
}
.main-area .content-padding {
    padding: 20px 20px 94px;
}

#login {
    margin-top: 15em;
    width: 404px;
}

.install-step {
    margin-top: 3em;
    width: 660px;
}

.install-step, #login {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 0.0625em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    padding: 2.9375em;
}

.widget-title{
	background:#f5f5f5;
	background:-moz-linear-gradient(top, #f7f7f7 0%, #eee 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eee));
	background:-webkit-linear-gradient(top, #f7f7f7 0%, #eee 100%);
	background:-o-linear-gradient(top, #f7f7f7 0%, #eee 100%);
	background:-ms-linear-gradient(top, #f7f7f7 0%, #eee 100%);
	background:linear-gradient(to bottom, #f7f7f7 0%,#eeeeee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#eeeeee',GradientType=0 );
	border-bottom:1px solid #ddd;
	overflow:hidden;
}

.install-step h1, #login h1 {
    font-family: 'ColaborateLightRegular',Arial,sans-serif;
    letter-spacing: -2px;
    margin-bottom: 0.66667em;
    text-align: center;
}

legend, .install-step h2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333333;
    display: block;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}